---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "Mastering ChatGPT & GPT-4",
    description:
      "Unleash the power of advanced language models to create intelligent applications and interactive experiences.",
    icon: "mdi:brain",
  },
  {
    title: "JavaScript Mastery",
    description:
      "Dive into the world of web development and create dynamic, interactive websites with one of the most popular programming languages.",
    icon: "mdi:language-javascript",
  },
  {
    title: "Data Science & Analytics",
    description:
      "Uncover hidden insights, make data-driven decisions, and revolutionize your industry with the power of data science.",
    icon: "mdi:chart-areaspline",
  },
  {
    title: "Python Proficiency",
    description:
      "Master the versatile Python language and its diverse applications, from web development to machine learning and beyond.",
    icon: "mdi:language-python",
  },
  {
    title: "Cloud Fundamentals",
    description:
      "Learn the essentials of cloud computing and harness its scalability, flexibility, and cost-saving benefits.",
    icon: "mdi:cloud-outline",
  },
  {
    title: "Certifications for Success",
    description:
      "Boost your credentials and showcase your skills with industry-recognized certifications in digital technologies.",
    icon: "mdi:certificate-outline",
  },
  {
    title: "AI Tools & Workflows",
    description:
      "Discover the potential of cutting-edge AI tools and workflows to drive innovation and transform industries.",
    icon: "mdi:robot",
  },
  {
    title: "Web Development Wizardry",
    description:
      "Create stunning, responsive websites and web applications by mastering front-end and back-end technologies.",
    icon: "mdi:web",
  },
  {
    title: "Full Stack Development",
    description:
      "Become a versatile developer by mastering both front-end and back-end technologies, enabling you to build complete, end-to-end solutions.",
    icon: "mdi:layers",
  },
  {
    title: "DevOps Excellence",
    description:
      "Streamline your software development lifecycle by integrating development and operations, ensuring faster, more reliable, and efficient delivery.",
    icon: "mdi:tools",
  },
  {
    title: "Latest Technology Stack",
    description:
      "Stay ahead of the curve by mastering cutting-edge technologies and tools that drive innovation and efficiency in the digital world.",
    icon: "mdi:cube-outline",
  },
  {
    title: "Agile Methodologies",
    description:
      "Embrace adaptability and continuous improvement by learning Agile methodologies for effective project management and team collaboration.",
    icon: "mdi:progress-check",
  },
];
---

<ContentSection title="Be a Future Asset" id="consulting">
  <Fragment slot="lead">
    Whether you're a young professional or a seasoned expert, Umni has the
    <span class="text-primary">tools and resources</span> to help you excel in the
    <span class="text-primary">digital age</span>.
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="h-16 w-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
