---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Educate for the Future" id="intro">
  <Icon slot="eyebrow" name="logomark" class="h-32" />
  <Fragment slot="lead">
    Discover our cutting-edge courses designed to empower the
    <span class="text-primary">next generation</span> of digital professionals.
  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="https://umni.dev/courses"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="view-dashboard" class="h-8" />
      <span>Browse courses</span>
    </a>
    <a
      href="https://umni.dev/signup"
      target="_blank"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="rocket" class="h-8" />
      <span>Sign up now!</span>
    </a>
  </div>
</ContentSection>
